.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
  }
  
  .item-info {
    flex-grow: 1;
  }
  
  .item-actions {
    display: flex;
    align-items: center;
  }
  
  .edit-btn,
  .delete-btn {
    margin-left: 10px;
  }