---
import { getURL } from "../../logic/gql";

const {link} = Astro.params
console.log(link)
let olink = await getURL(link || "")
console.log(olink)

if(olink){
    olink = "https://" + olink
}

---

<h1>{olink}</h1>