---
import { getURL } from "../../logic/gql";

const { link } = Astro.params;

const res = await getURL(link || "");

var oLink = "/";
if (res.links.length > 0) {
  oLink = "https://" + res.links[0].oLink;
} else {
  console.log("I came to else");
  oLink = "/";
}
---

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Redirecting...</title>
    </head>
  <body>
    <h1>The short link takes you to .....</h1>
    {
      oLink == "/" ? (
        <a id="link" href={oLink}>
            Unknown short link... Redirecting to home page...
        </a>
      ) : (
        <a id="link" href={oLink} target="_blank">
          Redirecting...
        </a>
      )
    }

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("link")?.click();
        window.location.href = "/";
      });
    </script>
  </body>
</html>
